@{
    ViewData["Title"] = "Shailendra Singh's Portfolio";
    string technologiesLink = "/Home/Technologies";
    string projectsLink = "/Home/Projects";
}

<div class="text-center">
    <h1 class="display-4">Hey, I'm Shailendra Singh.</h1>
    <h6>Software Engineer</h6>
    <p>Hello, I am a software developer absolutely fascinated by everything software and making otherwise dumb machines like computers do
    intelligent tasks. I have been programming for over 10 years and through that time I have gained experience with everything from Windows 
    application development to web development and bots. I have made many <a href=@projectsLink>pieces of software</a> not only for fun but, to also solve serious problems
    my peers and I face.</p>
    <p>While I am most experienced with C++, C# and the .NET tech stack, I know many other <a href=@technologiesLink>technologies and languages</a>. 
    I find learning new technologies and creating new projects with them, incredibly fun and rewarding. Not only this but, I'm also a natural learner 
    so, I will never have any problems developing software for any language or tech stack asked of me.</p>
    <hr />

    <a href="https://github.com/Shailosingh"><span title="Github Profile"><img class="img-fluid" src='~/Images/GithubIcon.png' /></span></a>
    <a href="https://top.gg/user/234528230617899008"><span title="Top.GG Profile (Discord Bot Discovery Site)"><img class="img-fluid" src='~/Images/TopGG.png' /></span></a>

</div>
