@{
    ViewData["Title"] = "Shailendra's Languages and Technologies";
}

<div class="text-center">
    <h1>Main Languages</h1>
    <a href="https://dotnet.microsoft.com/languages/csharp"><span title="C#"><img class="img-fluid" src='~/Images/CSharp.png' /></span></a>
    <a href="https://isocpp.org/"><span title="C++"><img class="img-fluid" src='~/Images/CPP.png' /></span></a>
    <a href="https://en.wikipedia.org/wiki/C_(programming_language)"><span title="C"><img class="img-fluid" src='~/Images/CLanguage.png' /></span></a>
    <a href="https://www.java.com/en/"><span title="Java"><img class="img-fluid" src='~/Images/java.png' /></span></a>
    <a href="https://www.python.org/"><span title="Python"><img class="img-fluid" src='~/Images/python.png' /></span></a>
    <hr />
    <h1>Technologies and Frameworks</h1>
    <a href="https://dot.net/"><span title=".NET"><img class="img-fluid" src='~/Images/dotnet.png' /></span></a>
    <a href="https://azure.microsoft.com/en-us/services/app-service/"><span title="Azure App Services"><img class="img-fluid" src='~/Images/Azure.png' /></span></a>
    <a href="https://azure.microsoft.com/en-us/services/cosmos-db/"><span title="Azure Cosmos DB"><img class="img-fluid" src='~/Images/CosmosDB.png' /></span></a>
    <a href="https://dsharpplus.github.io/"><span title="DSharp+"><img class="img-fluid" src='~/Images/DSharpPlus.png' /></span></a>

</div>